<%= image_tag("/images/matsushima.png", alt: "fixed-image", class: "fixed-image") %>
  <%= form_tag({controller:"travels",action:"index"}, method: :get) do %>
 <% end %>
 
 <section class="info-circles">
 <div class="text-container">
 <h1>北海道・東北</h1>
 <h2>北海道（ほっかいどう）は、日本の北海道地方に位置する道。道庁所在地は札幌市で、47都道府県中唯一の「道」である。
 </br>東北地方（とうほくちほう）は、日本の地域のひとつであり、本州東北部に位置する。「奥羽地方（おううちほう）」ともいう。最大都市は仙台市である。

 その範囲に現行法上の明確な定義はないものの、一般には青森県、岩手県、宮城県、秋田県、山形県、福島県の6県を指す。これら6県は、本州の約3割の面積を占める。東北地方は東日本に位置するが、気象や歴史地理学などでは北海道と一緒に北日本とされる。
 </h2>
 </div>
 </section>
 
 <div class="background-container">
 <div class="image-container">
 <%= link_to "/images/moriokarekishibunkakan.png", "data-lightbox": "/images/moriokarekishibunkakan.png" do %>
   <%= image_tag "/images/moriokarekishibunkakan.png", class: "img", size: "400x500" %>
 <% end %>
 <p>もりおか歴史文化館</p>
 </div>
 <div class="image-container">
 <%= link_to "/images/matsushima.png", "data-lightbox": "/images/matsushima.png" do %>
  <%= image_tag "/images/matsushima.png", class: "img", size: "400x500" %>
 <% end %>
 <p>松島</p>
 </div>
 <div class="image-container">
 <%= link_to "/images/kajoukouen.png", "data-lightbox": "/images/kajoukouen.png" do %>
  <%= image_tag "/images/kajoukouen.png", class: "img", size: "400x500" %>
 <% end %>
 <p>山形県霞城公園</p>
 </div>
 </div>
 
 <div class='comments-container'>
 <h3>Comments</h3>
 <%= link_to "新規投稿ページへ", new_travel_path, style: "color: white; font-size: 20px;"   %>
 <% @hokkaidos.each do |t| %>
   <div class="travel">
    <div class='main-box'>
     <%= link_to t.image_url, "data-lightbox": t.image_url do %>
       <%= image_tag t.image_url, class:"img", size: "125x100" if t.image?%>
     <% end %>
      <div class="left-container"><%= t.body %></div>
     <div class="right-container">
     <%= link_to t.user.name, user_path(t.user.id) %>
     <%= t.created_at %>
     <%= link_to "詳細へ", travel_path(t.id) %>
     <%= link_to "編集する", edit_travel_path(t.id) %>
     <%= button_to "削除する", t, method: :delete %>
     </div>
   </div>
   </div>
    <% end %>
 </div>
 